.section {
  padding: 4rem 0;
}

section {
	hr {
		border: none;
		border-bottom: .1rem solid $gray-400;
		margin: 0;
		padding: 0;
	}
}



@media only screen and (min-width: $screen-xl-min) {
	.text-xl-center {
		text-align: center;
	}

	.text-xl-right {
		text-align: right;
	}

	.text-xl-left {
		text-align: left;
	}
}


@media only screen and (min-width: $screen-lg-min) {
	.text-lg-center {
		text-align: center;
	}

	.text-lg-right {
		text-align: right;
	}

	.text-lg-left {
		text-align: left;
	}
}

@media only screen and (min-width: $screen-md-min) {
	.text-md-center {
		text-align: center;
	}

	.text-md-right {
		text-align: right;
	}

	.text-md-left {
		text-align: left;
	}
}

