.about {
  display: flex;
	flex-wrap: wrap;
}

.about_right,
.about_left {
  position: relative;
  display: flex;
  flex-basis: 50%;
  width: 50%;
  padding: 2rem;
  z-index: 1;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    height: 50%;
    background: inherit;
    top: 0;
    transform: skewY(8deg);
    transform-origin: 100%;
    z-index: -1;
    -webkit-backface-visibility: hidden;
  }
}

.about_left {
  justify-content: flex-end;
  @include var(background-color, main-color-5);
  &:before {
    transform: skewY(8deg);
    transform-origin: 100%;
  }
}

.about_left-title {
  flex-grow: 1;
	background-image: url(./assets/images/icon/arrow_down.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50%;
}

.about_right {
  text-align: center;
  padding-left: 4rem;
  @include var(background-color, main-color-6);
  &:before {
    transform: skewY(-8deg);
    transform-origin: 0;
  }
}

.about_right-title {
	position: relative;
  max-width: 34rem;
  margin: auto;
}

.about_right-content {
  @extend .typography;
}

@media only screen and (max-width: $screen-xxl-max) {
	.about_left {
		flex-direction: column;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: flex-start;
	}
	.about_left-title {
		flex-grow: 0;
		margin: 0 auto;
	}
}

@media only screen and (max-width: $screen-md-max) {
	.about_right,
	.about_left {
		padding-top: 4rem;
		flex-basis: 100%;
		width: 100%;
	}
	.about_left {
		&:before {
			right: 50%;
			height: 30%;
		}
		&:after {
			content: '';
			position: absolute;
			left: 50%;
			right: 0;
			display: block;
			height: 30%;
			background: inherit;
			top: 0;
			transform: skewY(-8deg);
			transform-origin: 0;
			z-index: -1;
			-webkit-backface-visibility: hidden;
		}
	}
	.about_right {
		max-width: 70rem;
		margin: 0 auto;
		&:before {
			display: none;
		}
	}
}

