.App {
	position: relative;
}

.app-enter {
  opacity: 0.01;
}

.app-enter.app-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.app-leave {
  opacity: 1;
}

.app-leave.app-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}