.checkbox {
	display: inline-block;
  text-align: center;
	max-width: 100%;
	padding: .5rem 0;
	color: $white;
	transition: color .2s ease-out;
	> input[type="checkbox"] {
		display: none;
	}
	> span {
		display: inline-block;
		vertical-align: middle;
		padding-left: 3rem;
		position: relative;
		line-height: 1.5;
		transition: color .2s;
		color: $white;
		&:hover {
			color: inherit;
		}
		&:before {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 2.3rem;
			height: 2.3rem;
      border-radius: .4rem;
			background-color: $white;
		}
		&:after {
			content: "";
			display: inline-block;
			position: absolute;
			left: 4px;
			top: 50%;
			transform: translateY(-50%);
      width: 1.7rem;
      height: 1.7rem;
      background-image: url(./assets/images/icon/checked.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 50%;
			opacity: 0;
			transition: opacity .2s ease-out;
		}
	}
	> input[type="checkbox"]:checked + span {
		&:after {
			opacity: 1;
		}
	}
	> input[type="checkbox"]:disabled + span:after {
		opacity: .5;
		pointer-events: none;
	}
}