main.flip-back-active {
  //.flip_back {
  //  transform: rotateY(360deg);
  //}
  //.flip_front {
  //  transform: rotateY(180deg);
  //}
}

/*animation*/
.flip_back {
  &.flip-animation-enter {
    transform: rotateY(180deg);
  }
  &.flip-animation-enter-active {
    transform: rotateY(360deg);
    transition-duration: .7s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &.flip-animation-leave {
    transform: rotateY(360deg);
  }
  &.flip-animation-leave-active {
    transform: rotateY(180deg);
    transition-duration: .7s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.flip_front {
  &.flip-animation-enter {
    transform: rotateY(180deg);
  }
  &.flip-animation-enter-active {
    transform: rotateY(0);
    transition-duration: .7s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &.flip-animation-leave {
    transform: rotateY(0);
  }
  &.flip-animation-leave-active {
    transform: rotateY(180deg);
    transition-duration: .7s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}



.flip {
  position: relative;
  width: 38rem;
  min-height: 39.5rem;
  margin: auto;
  perspective: 100rem;
}

.flip_front,
.flip_back {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($black, .6);
  border-radius: .4rem;
  overflow: hidden;
  backface-visibility: hidden;
}

.flip_back {
  height: 43rem;
  padding-top: 3.5rem;
}

.flip_front {
  height: 39.5rem;
}

.flip_user {
  padding: 2rem;
  padding-top: 3.5rem;
}

.flip_socials {
  padding: 1rem 0;
  text-align: center;
  .socials {
    justify-content: center;
  }
}

.flip_btn-front {
  display: flex;
  margin-top: auto;
  .flip_link {
    width: 33.333%;
    &:nth-child(1),
    &:nth-child(2) {
      &:before {
        background-color: $white;
      }
    }
  }
}

.flip_btn-back {
  display: flex;
  .flip_link {
    width: 50%;
    &:nth-child(1) {
      &:before {
        background-color: $white;
      }
    }
  }
}

.flip_link {
  position: relative;
  display: flex;
  align-items: center;
  height: 4.5rem;
  justify-content: center;
  @include var(background-color, main-color-4);
  color: $white;
  border: none;
  transition-duration: .2s;
  transition-property: background;
  &:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: .1rem;
    background-color: transparent;
  }
  &:hover {
    @include var(background-color, main-color-3);
  }
  &:disabled {
    background-color: rgba($white, .5);
  }
}

.flip_back-title {
  .title {
    color: $white;
  }
  .line {
    &:before {
      background-color: $white;
    }
  }
}

.flip_inner {
  padding-top: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

@media only screen and (max-width: $screen-xs-max) {
  .flip {
    width: 32rem;
  }
}