.footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba($black, .5);
	hr {
		border: none;
		margin: 0;
		border-bottom: .1rem solid $gray-600;
	}
}

.footer_inner {
	position: relative;
}

.footer_top {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 0;

}

.footer_nav {

}

.footer_bottom {
	padding: 1rem 0;
	font-size: 1.4rem;
	color: rgba($white, .5);
}

@media only screen and (max-width: $screen-sm-max) {
	.footer {
		position: static;
	}
	.footer_nav {
		width: 100%;
		padding-bottom: 2rem;
		li {
			display: block;
			padding-right: 0;
			padding-bottom: 2rem;
			text-align: center;
		}
	}
	.footer_socials {
		margin: 0 auto;
	}
	.footer_bottom {
		text-align: center;
	}
}