.form {
  position: relative;
  display: block;
  max-width: 38rem;
  width: 100%;
  margin: auto;
}

.form_inner {
  padding-top: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.form_block {
  padding-bottom: 2rem;
  label {
    display: block;
    width: 100%;
  }
}

.form_check {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 1rem;
  text-align: center;
}

.form_check-title {
  display: block;
  width: 100%;
  color: $white;
  padding-bottom: .5rem;
}

.form_label {
  color: $white;
  padding-left: 1rem;
}

.form_btn {
  position: relative;
  display: flex;
  align-items: center;
  &:before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    bottom: 0;
    width: .1rem;
    background-color: rgba($white, .5);
  }
}