.g-map {
	position: relative;
	height: 100vh;
	min-height: 100%;
}

.g-map_inner {
	height: 100%;
	width: 100%;
}

@media only screen and (max-width: $screen-sm-max) {
	.g-map{
		height: auto;
	}
	.g-map_inner {
		height: 40rem;
	}
}