.header {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	padding-top: 2rem;
}

.header_inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header_social {
  z-index: 1;
}

//.header_menu {
//	width: 6rem;
//	height: 4.5rem;
//	position: relative;
//	visibility: visible;
//}