.login {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  min-height: 50rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  z-index: 2;
}

.login_inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_btn {
  display: flex;
  justify-content: flex-end;
  padding-top: 3rem;
  position: relative;
  z-index: 3;
}

/*animation*/
.login-btn-enter {
  opacity: 0.01;
  &.login-btn-enter-active {
    opacity: 1;
    transition: opacity .2s ease-in;
  }
}

.login-btn-leave {
  opacity: 1;
  &.login-btn-leave-active {
    opacity: 0.01;
    transition: opacity .15s ease-in;
  }
}

