.nav-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  @include var(background, main-color-6);
  color: #fff;
  height: 100%;
  width: 100%;
  position: fixed;
  //top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  overflow-y: auto;
  padding: 1rem 0;
  //transition: all .6s cubic-bezier(.75,0,.175,1),height 0s;
  margin: auto;
  min-width: 320px;
  z-index: 100;
  &.is-active {
    //opacity: 1;
    //visibility: visible;
    //transform: scale(1);
    //transition-duration: .5s;
    //z-index: 2;
    //transition-duration: .6s, 0s;

    //transform: translate3d(0,-50%,0) scaleY(1);
  }
}

.nav_animation-enter {
  top: 50%;
  transform: translate3d(0, -50%, 0) scaleY(0);
  //.nav_link {
  //  opacity: 0;
  //  transform: translate3d(0, 110%, 0);
  //}
  &.nav_animation-enterActive {
    transform: translate3d(0, -50%, 0) scaleY(1);
    transition-duration: .7s, 0s;
    transition-property: all, height;
    transition-timing-function: cubic-bezier(.75, 0, .175, 1);
    @for $i from 0 through 5 {

      //.nav_item:nth-child(#{$i + 1}) {
      //  .nav_link {
      //    opacity: 1;
      //    transform: translate3d(0, 0, 0);
      //    transition-delay: ($i + 1.5) * .38s;
      //  }
      //}

    }
  }
}

.nav_animation-leave {
  top: 50%;
  transform: translate3d(0, -50%, 0) scaleY(1);
  &.nav_animation-leaveActive {
    transform: translate3d(0, -50%, 0) scaleY(0);
    transition-duration: .7s, 0s;
    transition-property: all, height;
    transition-timing-function: cubic-bezier(.75, 0, .175, 1);
  }
}

