.nav {
	.nav--coll {
	}
}

.nav--coll {
	.nav_item {
		display: block;
		margin-bottom: 2rem;
		a {
			display: block;
			text-align: center;
			overflow: hidden;
		}
	}
	.nav_link {
		position: relative;
		display: inline-block;
		text-transform: uppercase;
		font-weight: 600;
		margin: 1rem 2rem;
		font-size: 7vh;
		color: $gray-800;
    opacity: 0;
    transform: translate3d(0, 110%, 0);
    transition-duration: .62s, .6s;
    transition-property: opacity, transform;
    transition-timing-function: cubic-bezier(.1666, .88, .44, 1);
		-webkit-text-stroke: .2rem rgba($gray-800, .8);
		-webkit-font-smoothing: subpixel-antialiased;
		-webkit-text-fill-color: transparent;
		> span {
			-webkit-tap-highlight-color: transparent;
			-webkit-font-smoothing: antialiased;
			-webkit-text-fill-color: transparent;
		}
		&:after {
			content: attr(data-text);
			position: absolute;
			top: 0;
			bottom: -10px;
			left: 0;
			display: inline-block;
			overflow: hidden;
			width: 0;
			white-space: pre;
			transition-timing-function: cubic-bezier(.86,0,.07,1);
			transition-property: width;
			transition-duration: .5s;
			will-change: width;
			backface-visibility: hidden;
			transform: translateZ(0);
			-webkit-tap-highlight-color: transparent;
			-webkit-font-smoothing: antialiased;
			-webkit-text-fill-color: $gray-800;
			//-webkit-text-stroke: unset;
			-webkit-text-stroke: .2rem rgba($gray-800, .7);

		}
		&:hover {
			-webkit-font-smoothing: subpixel-antialiased;
			-webkit-text-fill-color: transparent;

			&:after {
				width: 100%;
			}
		}
	}

}

.nav--row {
	.nav_item {
		display: inline-block;
		padding-right: 3rem;
		&:last-child {
			padding-right: 0;
		}
		.nav_link {
			display: block;
			color: $white;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}


.nav-wrapper {
	&.is-active {
		@for $i from 0 through 5 {

			.nav_item:nth-child(#{$i + 1}) {
				.nav_link {
					opacity: 1;
					transform: translate3d(0, 0, 0);
					transition-delay: ($i + 1.5) * 1.38s;
				}
			}

		}
	}
}

@media only screen and (max-width: $screen-sm-max) {
	.nav--coll {
		.nav_link {
			font-size: 3.2rem;
		}
	}
}