.portfolio-slider {
	display: flex;
	flex-wrap: wrap;
	.slick-arrow {
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		width: 0;
		height: 0;
		z-index: -999;
	}
}

.portfolio-slider_left,
.portfolio-slider_right {
	width: 50%;
	flex-basis: 50%;
}

.portfolio-slider_left {
	@include var(background-color, main-color-5);
	.slick-slider,
	.slick-list,
	.slick-track,
	.slick-slide {
		height: 100%;
		> div {
			height: 100%;
			> div {
				height: 100%;
			}
		}
		.slick-current {
			z-index: 9999;
		}
		.title-medium {
			transition-duration: 1s;
			transition-property: opacity, transform;
			opacity: 0;
			transform: translateY(-4rem);
		}
		&.slick-current {
			.title-medium,
			.portfolio-slider_link {
				opacity: 1;
				transform: translateX(0);
			}
			.portfolio-slider_skills {
				opacity: 1;
			}
		}
	}

}

.portfolio-slider_link {
	opacity: 0;
	transform: translateY(3.5rem);
	transition-duration: 1s;
	transition-property: opacity, transform;
}

.portfolio-slider_inner {
	display: flex;
	align-items: center;
	justify-content: center;
	//height: 100%;
	text-align: center;
}

.portfolio-slider_content {
	max-width: 41rem;
	margin: auto;
	padding: 2rem;
}

.portfolio-slider_skills {
	position: relative;
	display: flex;
	//flex-wrap: wrap;
	justify-content: center;
	margin: 1.5rem -1.5rem;
	padding: 1rem 0;
	border-top: .1rem solid transparent;
	border-bottom: .1rem solid transparent;
	@include var(border-color, main-color-3);
	opacity: 0;
	overflow: hidden;
	transition-duration: 1s;
	transition-delay: .5s;
	transition-property: opacity;
	li {
		padding: 0 1.5rem;
		font-size: 1.6rem;
		@include var(color, main-color-3);
		text-transform: uppercase;
	}
}

.portfolio-slider_item {
}

.portfolio-slider_right {
	//display: flex;
	//flex-wrap: wrap;
}

.portfolio-slider_nav-inner {
	display: flex;
}

.portfolio-slider_active-slider {
	.slick-slide {
		width: 100%;
	}
}

.portfolio-slider_nav-active {
	position: relative;
	padding-top: 56rem;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50%;
	span {
		position: absolute;
		left: 0;
		bottom: 0;
		font-size: 5rem;
	}
}

.portfolio-slider_nav-item {
	position: relative;
	padding-top: 23rem;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50%;
	span {
		position: absolute;
		left: 0;
		bottom: 0;
		font-size: 3rem;
		color: red;
	}
}

.portfolio-slider_item-bg {
	padding-top: 49rem;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50%;
}

.portfolio-slider_btn {
	position: absolute;
	top: 0;
	bottom: 0;
	background-color: rgba($gray-800, .3);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	width: 100%;
	transition-duration: .1s;
	transition-property: background;
	&:hover {
		background-color: rgba($gray-800, .5);
	}
	&.portfolio-slider_btn--next {
		//opacity: 0;
		left: 0;
	}
	&.portfolio-slider_btn--prev {
		left: 0;
	}
}

.portfolio-slider_btn-inner {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	box-shadow: none;
	background: transparent;
}

.portfolio-slider_nav-slider-active {
	display: block;
	.slick-slide {
		//width: 60rem;
	}
	.portfolio-slider_item {
		//max-width: 50rem;
	}
}

.portfolio-slider_nav-left,
.portfolio-slider_nav-right {
	position: relative;
	width: 50%;
	flex-basis: 50%;
}

@media only screen and (max-width: $screen-lg-max) {
	.portfolio-slider_nav-active {
		padding-top: 45rem;
	}
	.portfolio-slider_nav-item {
		padding-top: 20rem;
	}
}

@media only screen and (max-width: $screen-md-max) {
	.portfolio-slider_left,
	.portfolio-slider_right {
		background-color: transparent;
		width: 100%;
		flex-basis: 100%;
	}
	.portfolio-slider_left {
		padding-bottom: 4rem;
	}
	.portfolio-slider_nav-active {
		padding-top: 38rem;
	}
	.portfolio-slider_item-bg {
		padding-top: 50%;
	}
}

@media only screen and (max-width: $screen-sm-max) {
	.portfolio-slider_nav-active {
		padding-top: 30rem;
	}
	.portfolio-slider_nav-item {
		background-size: contain;
		padding-top: 15rem;
	}
}