.portfolio {
	position: relative;
	@include var(background-color, main-color-6);
	z-index: 1;
	&:before,
	&:after {
		content: '';
		position: absolute;
		display: block;
		height: 30rem;
		background: inherit;
		top: 0;
		z-index: -1;
		-webkit-backface-visibility: hidden;
	}
	&:before {
		right: 50%;
		left: 0;
		transform: skewY(8deg);
		transform-origin: 100%;
	}
	&:after {
		left: 50%;
		right: 0;
		display: block;
		transform: skewY(-8deg);
		transform-origin: 0;
	}
}

.portfolio_title {
	position: relative;
	padding-top: 5rem;
	padding-bottom: 4rem;
	.title-big {
		position: relative;
	}
}

.portfolio_title-bg {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	svg {
		path {
			transition-duration: 1s;
			transition-delay: .2s;
			transform: translate3d(0, -30%, 0) scaleY(1);
			transition-timing-function: ease-in-out;
			fill-opacity: 0;
		}
	}
	&.is-active {
		svg {
			path {
				transform: translate3d(0, 0, 0) scaleY(1);
				fill-opacity: .5;
			}
		}
	}
}