.radio {
  display: inline-block;
  text-align: center;
  max-width: 100%;
  padding: .5rem 0;
  color: $white;
  margin-right: 1rem;
  transition: color .2s ease-out;
  &:last-child {
    margin-right: 0;
  }
  > input[type="radio"] {
    display: none;
  }
  > span {
    display: inline-block;
    vertical-align: middle;
    padding-left: 3rem;
    position: relative;
    line-height: 1.5;
    transition: color .2s;
    color: $white;
    &:hover {
      color: inherit;
    }
    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 1.8rem;
      height: 1.8rem;
      border-radius: 50%;
      background-color: $white;
    }
    &:after {
      content: "";
      display: inline-block;
      position: absolute;
      left: .9rem;
      top: 50%;
      margin-left: -.5rem;
      transform: translateY(-50%);
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      @include var(background-color, main-color-4);
      opacity: 0;
      transition: opacity .2s ease-out;
    }
  }
  > input[type="radio"]:checked + span {
    &:after {
      opacity: 1;
    }
  }
  > input[type="radio"]:disabled + span:after {
    opacity: .5;
    pointer-events: none;
  }
}