$menu-btn-color: $white-300;
$menu-btn-color--active: $gray-800;
$btn-height: .5rem;
$btn-width: 100%;
$btn-border-radius: .08em;

.sandwich {
	top: 2rem;
	right: 4rem;
	z-index: 101;
	width: 6rem;
	height: 4.5rem;
	&:focus {
	}
}

.sandwich_inner {
	position: relative;
	font-size: 5rem;
	width: 100%;
	height: 100%;
	padding: 0;
	border: none;
	background-color: transparent;
	outline: none;
	user-select: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	transform: rotate(0deg);
	transition: .5s ease-in-out;
}

.sandwich_middle,
.sandwich_bottom,
.sandwich_top {
	position: absolute;
	background: $menu-btn-color;
	will-change: transform;
}

.sandwich span {
	display: block;
	position: absolute;
	height: 9px;
	width: 100%;
	background: $menu-btn-color;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	transform: rotate(0deg);
	transition: .25s ease-in-out;
}

.sandwich_top {
	top: 0px;
}

.sandwich_middle {
	top: 18px;
}

.sandwich_bottom {
	top: 36px;
}

.sandwich {
	&.is-active {
		.sandwich_middle,
		.sandwich_bottom,
		.sandwich_top {
			background: $menu-btn-color--active;
			transition: .25s ease-in-out;

		}

		.sandwich_top {
			top: 18px;
			transform: rotate(135deg);
		}
		.sandwich_middle {
			opacity: 0;
			left: 60px;
		}
		.sandwich_bottom {
			top: 18px;
			transform: rotate(-135deg);
		}
	}
}

@media only screen and (max-width: $screen-md-max) {
	.sandwich {
		display: inline-block;
	}
}
