.user-content {
	flex-basis: 44rem;
	max-width: 44rem;
}

.user-content_img {
	padding-bottom: 4rem;
	img {
		display: block;
		max-width: 100%;
	}
}

.user-content_title {
	text-align: center;
}

.user-content_info {
	@extend .typography;
}

@media only screen and (max-width: $screen-xxl-max) {
	.user-content {
		margin:  0 auto;
	}
}


@media only screen and (max-width: $screen-md-max) {
	.user-content {
		flex-basis: 60rem;
		max-width: 60rem;
	}
}
