// SCSS
$rootVars: ();

@mixin setVarSass($varName, $value){
	$rootVars: map-merge($rootVars, (
			#{$varName}: $value
	)) !global;
}

@function getVarSass($varName){
	@return map-get($rootVars, #{$varName});
}

@include setVarSass("colorr", #000);

// CSS
@mixin setVarCss($varName, $value){
	@supports ( (--a: 0)) {
		// Custom properties are supported in the browser
		$varName: unquote($varName);
		:root{
			#{--$varName}: $value;
		}
	}
}

@function getVarCss($varName){
	$varName: unquote($varName);
	@return #{var(--$varName)};
}

// Common
@mixin setVar($varName, $value){
	@include setVarSass($varName, $value);
	@include setVarCss($varName, $value);
}

@mixin setPropFromVar($propName, $varName){
	@supports ( (--a: 0)) {
		// Custom properties are supported in the browser
		#{$propName}: getVarCss($varName);
	}

	@supports ( not (--a: 0)) {
		// Custom properties are NOT supported in the browser
		#{$propName}: getVarSass($varName);
	}
}

// SET/GET
//@include setVar('main-color', #fff);

//body {
	//@include setPropFromVar('color', 'main-color');
//}

@mixin var($property, $varName) {
	#{$property}: map-get($vars, $varName);
	#{$property}: var(--#{$varName}, map-get($vars, $varName));
}