.container-fluid {
  position: relative;
  width: 100%;
  max-width: $content-max-width;
  margin: 0 auto;
  padding-right: ($grid-gutter-width / 2);
  padding-left: ($grid-gutter-width / 2);
}

.container {
  max-width: $content-max-width;
}

.main-content {
  overflow: hidden;
}

@media only screen and (max-width: $screen-sm-max) {
  .main-content {
    padding-top: 8rem;
  }
}